.offer-container{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  padding: 100px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: serif;
  color: rgb(169, 151, 116);
  
}
.swiper-pagination{
  background-image: url('https://i.imghippo.com/files/Gli3668Gs.png');
  background-size: cover;
background-repeat: no-repeat;
filter: drop-shadow(0 0 0.75rem rgb(221, 197, 152));
}
.smile {
  width: 10%;
  filter: drop-shadow(0 0 0.75rem rgb(221, 197, 152));
  animation: rotateLoop 5s linear infinite; /* Add animation */
}

/* Define the keyframes for the rotation animation */
@keyframes rotateLoop {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.head-offer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(135, 122, 98);
  background-color: rgb(0, 0, 0,0.2);
 
}
.container-offerpage{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background: rgb(0,0,0,0.4);
}
.headings{
  color: rgb(216, 212, 202);
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
.swipe-img{
  width: 30%;
}
.offer-container ul{
  list-style: none;
}
.offer-lists{
  color: rgb(74, 46, 168);
  font-weight: bold;
}
.offer-container h3{
  color: rgb(56, 119, 109);
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
.head-offer{
  background-image:url('/src/assets/offer-imgs/pop.png') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media(max-width:1600px){
  .offer-container{
    font-size: 20px;
  }
}
@media(max-width:1200px){
  .offer-container{
    font-size: 15px;
  }
}
